<header id="Header" class="blue-gradient">
  
  <div id="sticky-wrapper" class="sticky-wrapper" style="height: 45px;">
    <div class="Row-2">
      <div class="Group">
          <h3 class="screen"><img src="/assets/img/visa.png" alt="VISA"> <small>Network Change Review</small></h3>
          <h3 class="print"><img src="/assets/img/visa-blue.png" alt="VISA"> <small>Brand Central</small></h3>
      </div>
      <div id="Menu">
        <ul class="nav" style="margin-top: .75em;float: right;">
          <li class="has-sub"><a ng-link="['Landing']" style="cursor: pointer; margin-left: 2em;" ng-click="">Home</a></li>

          <li class="has-sub"><a ng-link="['About']" style="cursor: pointer; margin-left: 2em;" ng-click="">About</a></li>

          <li class="has-sub"><a ng-link="['Contact']" style="cursor: pointer; margin-left: 2em;" ng-click="">Contact Us</a></li>

        </ul> 
      </div>
    </div>
  </div>

</header>
